
header {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 1fr;
    /* grid-template-rows: 2fr 1fr; */
    /* max-height: 150px; */
    background-color: #ff2e43;
}
header nav ul {
    /* width: 300px;
    height: 55px; */
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
  }
  
header nav ul li {
    /* display: inline-block; */
    flex: 1 1 auto;
    list-style-type: none;
    text-decoration: none;
    font-size: 24px;
    color: white;
    margin: auto;
  }
  header nav ul li a {
    text-decoration: none;
    color: black;
    margin: auto;
    display: block;
  }
  header nav ul li:hover {
    background-color: white;
    color: black
  }
  header img{
    max-width: 100px;
  }
  button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    display: none;
  }
  #title p {
    margin: 10px;
    font-family: 'Roboto', serif;
  }
  #socials img{
    max-width: 25px;
    justify-self: center;
  }
  #date {
    text-align: center;
    grid-column: 1/5;
    font-size: 24px;
    margin: 5px;
  }
  #title {
    font-size: 24px;
  }
  footer {
    background-color: #ff2e43;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;


  }
  footer img {
    margin: 5px;
    max-width: 150px;
    margin-left: 20px;
  }
  #foottitle {
    font-size: 24px;
    grid-column: 2/4;
  }
  #foottitle p {
    margin: 10px;
    font-family: 'Roboto', serif;
  }
  #info {
    grid-column: 4/5;
    font-size: 20px;
    text-align: center;
  }
  #subfooter {
    grid-column: 1/5;
    border-top: 1px solid;
    margin: auto;
  }
  #subfooter li {
    display: inline;
    font-size: 17px;
    text-align: center;
  }